@import "application.scss";

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 5px 30px;
    background-color: $black;
    border-bottom: 2px solid $red;
}

.logo-link {
    color: $red;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    height: 100%;
}
.red {
    color: $white;
}

.nav-section {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-link {
    display: flex;
    text-decoration: none;
    color: $white;
    width: 80px;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.nav-user {
    color: $white;
    margin-right: 14px;
}

.nav-logout {
    display: flex;
    border: none;
    background-color: $black;
    color: $red;
    justify-content: center;
    align-items: center;
    height: 80%;
    font-size: 16px;
}
.nav-logout:hover {
    cursor: pointer;
    color: $gray;
}
.nav-logout:focus {
    color: $white;
    outline: none;
}