@import 'application.scss';

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(43, 43, 43, 0.80);
}

.modal-child {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 400px;
    height: 300px;
    background-color: $white;
}