@import 'application.scss';

.splash {
    padding: 30px 20px;
}

.splash-movies-title {
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.splash-movie-i {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    margin-bottom: 20px;
}

.splash-all-movies{
    text-align: center;
}
.splash-movies-link {
    text-decoration: none;
    color: $darkgray;
}
.splash-movies-link:hover {
    text-decoration: underline;
}