@import 'application.scss';

.movie-show {
}

.movie-info {
    padding: 20px;
}

.movie-comments {
    margin-top: 20px;
    padding: 20px;
}

.movie-photo-bg {
    background-color: $black;
    display: flex;
    justify-content: center;
}
.movie-photo {
    object-fit: cover;
    width: 60%;
    height: 500px;
}
