@import 'application.scss';

.movie-show {
}

.movie-photo-container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $red;
    background-color: $black;
    overflow: hidden;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.movie-photo-bg {
    width: 100%;
    height: 600px;
    filter: blur(20px);
    -webkit-filter: blur(20px);
    opacity: 90%;
    position: absolute;
    object-fit: cover;
    overflow: hidden;
}

.movie-photo {
    object-fit: cover;
    width: 25%;
    min-width: 400px;
    z-index: 1;
}

.movie-info {
    padding: 30px 40px;
    display: flex;
    height: 100px;
}
.movie-info-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 50%;
}
.movie-info-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.movie-info-score {
    height: 50%;
    font-size: 20px;
}
.movie-info-score-num {
    font-size: 24px;
    font-weight: 600;
}

.movie-info-update {
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.movie-info-update-btn {
    border: none;
    text-decoration: underline;
    background-color: $white;
}
.movie-info-update-btn:hover {
    cursor: pointer
}
.movie-info-update-btn:focus {
    outline: none;
}

.movie-info-title {
    font-size: 24px;
    font-weight: 600;
}

.movie-info-year {
}

.movie-info-desc-label {
    margin-bottom: 3px;
}

// Comments Section
.movie-comments-section {
    padding: 20px 40px;
}

.movie-comments-title {
    padding-bottom: 3px;
    border-bottom: 1px solid $black;
    margin-bottom: 14px;
}

.movie-comments-new {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 15px;
}

.movie-comments-add {
    box-sizing: border-box;
    width: 100%;
    border: none;
    font-size: 14px;
    margin-bottom: 8px;
    border: 1px solid $gray;
    border-radius: 3px;
    padding: 6px 8px;
}
.movie-comments-add:focus {
    outline: none;
    border: 1px solid $lightred;
}

.create-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    background-color: $lightred;
    width: 80px;
    height: 30px;
    font-size: 14px;
    color: $white;
    font-weight: 600;
}
.create-comment:hover {
    cursor: pointer;
    background-color: $red;
}
.create-comment:hover {
    
}

.movie-comments {
    // margin-bottom: 20px;
}
