@import 'application.scss';

.movie-show {
}

.movie-photo-bg {
    background-color: $black;
    display: flex;
    justify-content: center;
}
.movie-photo {
    object-fit: cover;
    width: 60%;
    min-width: 800px;
    height: 500px;
}

.movie-info {
    padding: 30px 40px;
    display: flex;
    height: 100px;
}
.movie-info-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 50%;
}
.movie-info-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.movie-info-title {
    font-size: 24px;
    font-weight: 600;
}
.movie-info-year {

}
.movie-info-desc-label {
    margin-bottom: 3px;
}

.movie-info-score {
    font-size: 20px;
}
.movie-info-score-num {
    font-size: 24px;
    font-weight: 600
}

.movie-comments {
    padding: 20px 40px;
}
